@use "../../assets/css/grid";
@use "../../assets/css/spacings";
@use "../../assets/css/responsive";

@layer _components {
  .container {
    @include grid.grid;
    margin: spacings.$spacing-xxxl spacings.$spacing-xxxxl;
    align-items: flex-start;
  }
}

@layer responsive {
  .container {
    margin: spacings.$spacing-xxxl spacings.$spacing-xxxxl;

    @media (max-width: responsive.$breakpoint-lg) {
      margin: spacings.$spacing-xs;
    }
  }
}
