@use "../../../assets/css/layouts";
@use "../../../assets/css/spacings";
@use "../../../assets/css/responsive";

@layer _components {
  .productTitle {
    @include layouts.flex-col;
    gap: 8px;
  }

  .productSelects {
    @include layouts.flex-col;
    gap: 8px;
  }

  .productSelectContainer {
    @include layouts.flex-justify-between;
  }

  .productSelect {
    @include layouts.flex-col;
    align-items: flex-end;
  }

  .productSelectWithGuide {
    @include layouts.flex-justify-between;
    width: 100%;
  }

  .productCards {
    @include layouts.flex-col;
    gap: 8px;
  }
}

@layer responsive {
  .container {
    grid-column: 6 / span 3;
    @include layouts.flex-col;
    gap: 32px;

    @media (max-width: responsive.$breakpoint-lg) {
      grid-column: 1 / span 5;
    }
  }

  .product {
    &CTA {
      @include layouts.flex-justify-between;

      @media (max-width: responsive.$breakpoint-lg) {
        @include layouts.flex-col;
        align-items: flex-start;
        gap: spacings.$spacing-xxs;
      }
    }

    &Prices {
      @include layouts.flex-col;

      @media (max-width: responsive.$breakpoint-lg) {
        flex-direction: row-reverse;
        align-items: flex-end;
        gap: spacings.$spacing-xxs;
      }
    }
  }
}
