@use "../../../assets/css/layouts";
@use "../../../assets/css/grid";
@use "../../../assets/css/colors";
@use "../../../assets/css/spacings";
@use "../../../assets/css/responsive";

@layer _components {
  .products {
    &Container {
      @include layouts.flex-col;
      height: 100%;
    }

    &ItemsContainer {
      @include grid.gridProducts;
    }

    &Item {
      @include layouts.flex-col;
      width: 100%;
      gap: 16px;
    }

    &Title {
      @include layouts.flex-justify-between;
      align-items: flex-start;
    }

    &Price {
      @include layouts.flex;
      align-items: center;
      gap: 8px;
    }

    &ItemTitle {
      @include layouts.flex-col;
      gap: 8px;
      color: colors.$gray-600;
    }

    &PreviousPrice {
      text-decoration: line-through;
    }
  }

  .sortByRoot {
    @include layouts.flex;
    align-items: center;
    gap: 8px;
  }

  .productsItemsImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@layer responsive {
  .products {
    &Container {
      grid-column: 2 / span 7;
      gap: spacings.$spacing-xs;

      @media (max-width: responsive.$breakpoint-lg) {
        grid-column: 1 / span 5;
      }
    }

    &Actions {
      @include layouts.flex-col;
      gap: spacings.$spacing-s;
      align-items: flex-end;

      @media (max-width: responsive.$breakpoint-lg) {
        gap: spacings.$spacing-xs;
      }
    }

    &ActionsFilter {
      @media (min-width: responsive.$breakpoint-lg) {
        display: none;
      }

      svg {
        height: spacings.$spacing-xs;
        width: spacings.$spacing-xs;
      }
    }
  }
}
