@use "../../../assets/css/layouts";
@use "../../../assets/css/colors";
@use "../../../assets/css/responsive";
@use "../../../assets/css/spacings";

@layer _components {
  .filters {
    &Container {
      grid-column: 1 / span 1;

      @include layouts.flex-col;
      gap: 8px;
    }

    &Card {
      @include layouts.flex-col;
      gap: 16px;
      border-radius: 8px;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }

    &Options {
      @include layouts.flex-col;
      align-items: flex-start;
    }

    &CategoriesButton {
      cursor: pointer;
      border: 0;
    }

    &Title {
      @include layouts.flex-justify-between;
      border-bottom: 1px solid colors.$gray-200;

      svg {
        width: 28px;
        height: 28px;
      }
    }

    &CheckboxGroup {
      @include layouts.flex-col;
      gap: 4px;
    }

    &CheckboxBody {
      @include layouts.flex-justify-between;
    }

    &PriceTrack::before {
      background-color: colors.$gray-200;
    }

    &MobileTitle {
      @include layouts.flex-col;
      align-items: flex-end;
      padding-bottom: spacings.$spacing-xxs;
    }
  }

  .active {
    text-decoration: underline;
  }
}

@layer responsive {
  .filtersContainer {
    grid-column: 1 / span 1;

    @media (max-width: responsive.$breakpoint-lg) {
      display: none;
      grid-column: 0 / span 6;
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      z-index: 10;
      padding: spacings.$spacing-xs;
      background-color: colors.$gray-100;
    }
  }
}
