@use "../../../assets/css/colors";
@use "../../../assets/css/layouts";
@use "../../../assets/css/responsive";
@use "../../../assets/css/spacings";

@layer _components {
  .checkoutProducts {
    @include layouts.flex-col;
  }
}

@layer responsive {
  .container {
    @include layouts.flex-col;
    grid-column: 5 / span 4;
    gap: spacings.$spacing-m;

    @media (max-width: responsive.$breakpoint-lg) {
      grid-column: 1 / span 5;
      gap: spacings.$spacing-xs;
    }
  }

  .checkout {
    &Products {
      gap: spacings.$spacing-m;

      @media (max-width: responsive.$breakpoint-lg) {
        gap: spacings.$spacing-xs;
      }
    }
  }
}
