@use "../../../assets/css/colors";
@use "../../../assets/css/layouts";
@use "../../../assets/css/responsive";
@use "../../../assets/css/spacings";

@layer _components {
  .checkoutProducts {
    @include layouts.flex-col;
  }

  .checkoutProductItem {
    @include layouts.flex-col;
    gap: spacings.$spacing-xs;
  }

  .checkoutProductDesc {
    @include layouts.flex-col;
    width: 100%;
    gap: 16px;
  }

  .checkoutProductName {
    @include layouts.flex-col;
  }

  .checkoutProductSelects {
    @include layouts.flex-col;
    gap: 8px;
  }

  .checkoutProductSelect {
    @include layouts.flex-justify-between;
  }

  .checkoutProductLower {
    @include layouts.flex-justify-between;
  }
}

@layer responsive {
  .container {
    @include layouts.flex-col;
    grid-column: 5 / span 4;
    gap: spacings.$spacing-m;

    @media (max-width: responsive.$breakpoint-lg) {
      grid-column: 1 / span 5;
      gap: spacings.$spacing-xs;
    }
  }

  .checkout {
    &Products {
      gap: spacings.$spacing-m;

      @media (max-width: responsive.$breakpoint-lg) {
        gap: spacings.$spacing-xs;
      }
    }

    &ProductUpper {
      @include layouts.flex-justify-between;
      align-items: flex-start;
      gap: spacings.$spacing-xs;

      @media (max-width: responsive.$breakpoint-lg) {
        @include layouts.flex-col;
      }
    }
  }

  .productImage {
    width: 240px;
    height: 280px;
    object-fit: cover;

    @media (max-width: responsive.$breakpoint-lg) {
      width: 100%;
    }
  }
}
