@use "../../../assets/css/layouts";
@use "../../../assets/css/colors";
@use "../../../assets/css/responsive";
@use "../../../assets/css/spacings";

@layer _components {
  .form {
    @include layouts.flex-col;
  }

  .formInputs {
    @include layouts.flex-col;
    gap: spacings.$spacing-xxs;
  }

  .formInputRoot {
    width: 100%;
  }

  .formSubmit {
    @include layouts.flex;
    justify-content: flex-end;
  }
}

@layer responsive {
  .container {
    grid-column: 1 / span 4;
    @include layouts.flex-col;
    gap: spacings.$spacing-m;

    @media (max-width: responsive.$breakpoint-lg) {
      grid-column: 1 / span 5;
      gap: spacings.$spacing-xs;
    }
  }

  .form {
    gap: spacings.$spacing-m;

    @media (max-width: responsive.$breakpoint-lg) {
      gap: spacings.$spacing-xs;
    }

    &Name,
    &Radio {
      @include layouts.flex-justify-between;
      gap: spacings.$spacing-xs;

      @media (max-width: responsive.$breakpoint-lg) {
        @include layouts.flex-col;
        align-items: flex-start;
      }
    }

    &Submit button {
      @media (max-width: responsive.$breakpoint-lg) {
        width: 100%;
        justify-content: center;
      }
    }
  }
}
