// Gray
$gray-100: #e0e0e0;
$gray-200: #898989;
$gray-300: #666666;
$gray-400: #3d3d3d;
$gray-500: #2a2a2a;
$gray-600: #101010;

$red: #e94646;
$green: #26733a;
$blue: #2b48a7;

:root {
  background-color: $gray-100;
}
