$breakpoint-xs: 30em; // Small mobile
$breakpoint-sm: 48em; // Small tablet
$breakpoint-md: 64em; // Large tablet
$breakpoint-lg: 80em; // Small desktop
$breakpoint-xl: 90em; // Large desktop

@layer responsive {
  .mantine-hidden-before-xs {
    @media (max-width: $breakpoint-xs) {
      display: none !important;
    }
  }

  .mantine-hidden-before-sm {
    @media (max-width: $breakpoint-sm) {
      display: none !important;
    }
  }

  .mantine-hidden-before-md {
    @media (max-width: $breakpoint-md) {
      display: none !important;
    }
  }

  .mantine-hidden-before-lg {
    @media (max-width: $breakpoint-lg) {
      display: none !important;
    }
  }

  .mantine-hidden-before-xl {
    @media (max-width: $breakpoint-xl) {
      display: none !important;
    }
  }
}
