@use "../../../assets/css/colors";

.button {
  display: flex;
  align-items: center;
  gap: 8px;
  border-width: 1px;

  transition: all 0.2s;
  width: fit-content;

  &:hover {
    cursor: pointer;
  }
}

.sm {
  padding: 8px;
}

.md {
  padding: 12px;
}

.primary {
  background-color: colors.$gray-600;
  border-color: colors.$gray-600;
  color: white;

  svg path {
    fill: white;
  }

  &:hover {
    background-color: colors.$gray-500;
    border-color: colors.$gray-500;
  }

  &:disabled {
    background-color: colors.$gray-400;
    border-color: colors.$gray-400;
    color: colors.$gray-200;

    svg path {
      fill: colors.$gray-200;
    }
  }

  &:active {
    color: colors.$gray-300;
    transition: all 0.1s;

    svg path {
      fill: colors.$gray-300;
    }
  }
}

.secondary {
  background-color: white;
  border-color: colors.$gray-600;
  color: colors.$gray-600;

  svg path {
    fill: colors.$gray-600;
  }

  &:hover {
    background-color: colors.$gray-100;
    color: colors.$gray-500;

    svg path {
      fill: colors.$gray-500;
    }
  }

  &:disabled {
    background-color: colors.$gray-200;
    border-color: colors.$gray-200;
    color: colors.$gray-400;

    svg path {
      fill: colors.$gray-400;
    }
  }
}
