@use "../../../assets/css/layouts";
@use "../../../assets/css/responsive";
@use "../../../assets/css/spacings";

@layer _components {
  .cartProductDesc {
    @include layouts.flex-col;
    gap: 16px;
  }

  .cartProductName {
    @include layouts.flex-col;
  }

  .cartProductSelects {
    @include layouts.flex-col;
    gap: 8px;
  }

  .cartProductSelect {
    @include layouts.flex-justify-between;
  }

  .cartProductLower {
    @include layouts.flex-justify-between;
  }
}

@layer responsive {
  .productImage {
    width: 240px;
    height: 280px;
    object-fit: cover;

    @media (max-width: responsive.$breakpoint-lg) {
      width: 100%;
    }
  }

  .cartProductUpper {
    @include layouts.flex-justify-between;
    align-items: flex-start;
    gap: spacings.$spacing-xs;

    @media (max-width: responsive.$breakpoint-lg) {
      @include layouts.flex-col;
    }
  }

  .cartProductItem {
    @include layouts.flex-col;
    gap: spacings.$spacing-m;
  }
}
