@use "../../../assets/css/layouts";
@use "../../../assets/css/colors";
@use "../../../assets/css/responsive";
@use "../../../assets/css/spacings";

@layer _components {
  .filters {
    &Card {
      @include layouts.flex-col;
      gap: 16px;
      border-radius: 8px;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }

    &Title {
      @include layouts.flex-justify-between;
      background: none;
      border: none;

      svg {
        width: 28px;
        height: 28px;
      }
    }
  }

  .showItem {
    border-bottom: 1px solid colors.$gray-200;
  }
}
